In [1]:
import pandas as pd 
import numpy as np

In [4]:
df = pd.read_csv(r'C:\Users\Admin\Documents\Codegym trên lớp\FoodPrice_in_Turkey.csv')
df

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7381 entries, 0 to 7380
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Place        7381 non-null   object
 1   ProductId    7381 non-null   int64
 2   ProductName  7381 non-null   object
 3   UmId         7381 non-null   int64
 4   UmName       7381 non-null   object
 5   Month        7381 non-null   int64
 6   Year         7381 non-null   int64
 7   Price        7381 non-null   float64
dtypes: float64(1), int64(4), object(3)
memory usage: 461.4+ KB

In [6]:
df_1 = df.groupby(by = 'ProductId')

In [7]:
df_1.Price.mean()

ProductId
52       7.950325
58       3.253174
66       9.572830
83       2.297231
92       0.505925
94       9.683471
97       4.482942
105     16.610370
108      6.651817
112      3.496637
114      3.393658
119     21.832122
124      4.463293
151     42.468075
173      2.141539
176      4.137000
181      1.723395
183     45.557209
184      8.755174
185      2.048213
209     43.295493
212      2.900029
229      2.392193
231      3.274868
233      2.206807
239     27.274547
244     10.347860
254      8.224784
258      3.516712
281     26.224393
285      8.592519
304      2.468031
317      8.085128
341     83.976703
345      3.885039
360      3.124280
364      5.364898
384      2.404545
388      3.411326
401     22.698257
404      3.240587
414     25.522875
433     41.270904
434      3.882645
442    108.287696
450      3.837423
463      3.679687
465     40.548182
491      0.513580
492      5.434838
493      5.384253
502     43.802339
Name: Price, dtype: float64

1. Loai thuc pham nao co so luong ban lon nhat
2. Noi ban duoc nhieu san pham nhat trong moi nam
3. Nam nao la nam co so